@import '~@lms/styles/variables.scss';

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: em(248);
  background-color: $BACKGROUND;
  background-position-y: bottom;
  background-repeat: repeat-x;
  border: em(1) solid $BORDER;
}

.title {
  max-height: 3.75em;
  flex: 1 1 100%;
  font-size: em(20);
  line-height: em(25, 20);
  letter-spacing: em(1, 20);
  color: $DARK;
  overflow: hidden;
}

.labels {
  height: em(40);
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  //top: em(20);
  //right: 0;
}

.label {
  text-transform: uppercase;
  position: relative;
  right: em(-20, 10);
  display: inline-block;
  height: em(16, 10);
  margin-bottom: map_get($spacers, s1);
  padding: 0 map_get($spacers, s2);
  font-size: em(10);
  line-height: em(16, 10);
  text-align: center;
  letter-spacing: em(1, 10);
  color: $BACKGROUND;
  align-self: flex-end;

  &.draft {
    background: $BORDER2;
  }

  &.homework {
    background: $ACCENT2;
  }
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex: 1 1 100%;
  height: em(40);
}
