@import '~@lms/styles/base';
@import '~@lms/styles/variables';

.title {
  font-weight: bold;
  font-size: em(22);
  line-height: em(27, 22);
  letter-spacing: em(5, 22);
  color: $dark;
  user-select: none;
}

.item {
  display: flex;
  border: none;
  border-bottom: em(1) solid $dark-03;
  height: em(28);
  font-size: em(16);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $dark;
  margin: map-get($spacers, 1) 0;
  padding: map-get($spacers, 1) map-get($spacers, 3);
  cursor: pointer;
  user-select: none;

  .studentName {
    line-height: em(20);
    height: em(20);
    letter-spacing: em(1.5);
  }

  .bullet {
    width: em(8);
    height: em(8);
    border-radius: em(4);
    background-color: $pink;
    display: none;
  }

  &:global(.assigned) {
    .bullet {
      display: inline-block;
    }
  }
  &:global(.assigned.unassign) {
    .bullet {
      display: none;
    }
  }
  &:global(.assign) {
    .bullet {
      display: inline-block;
    }
  }
}

.studentDeadline {
  font-size: em(10);
  line-height: em(12, 10);
  text-align: right;
  letter-spacing: em(1.5, 10);
}


.errorMessage {
  font-weight: bold;
  font-size: em(10);
  line-height: em(12, 10);
  text-align: center;
  letter-spacing: em(1.5, 10);
  color: $base;
}

.datePicker {
  background-color: red;
}

.dateInput {
  font-size: em(10);
  line-height: em(12, 10);
  display: flex;
  align-items: flex-end;
  letter-spacing: em(1.5, 10);
  text-decoration-line: underline;

  color: #231F20;
  cursor: pointer;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: em(17, 10);
  height: em(16.94, 10);
  margin-right: em(8, 10);
  background: url('./images/icon.svg') no-repeat 50% 50%;
}


