@import '~@lms/styles/variables';

.input {
  width: 100%;
  border: em(1) solid $MAIN1_O40;
  box-sizing: border-box;
  border-radius: em(3);
  line-height: 150%;
  letter-spacing: 0.11em;
  color: $MAIN1_O60;
  outline: none;
  padding: em(8) em(12);
  font-weight: 300;
  transition: background-color ease-in-out .3s;

  &::placeholder {
    color: $MAIN1_O20;
  }

  &:focus {
    border-color: $MAIN5;
  }

  &[disabled] {
    background: $MAIN2_O20;
    border: em(1) solid $MAIN1_O40;
    color: $MAIN1_O20;
  }
}
