@import '~@lms/styles/variables';

label {
  margin: 0;
  padding: 0;
}

.checkbox {
  position: relative;
  display: inline-flex;
  user-select: none;
  cursor: pointer;

  input {
    display: none;
  }

  &:before {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: em(-6);
    content: '';
    display: block;
    width: em(12);
    height: em(12);
    border: em(1) solid $MAIN1_O80;
    border-radius: 100%;
  }

  &.checked {
    &:after {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: em(-4);
      margin-left: em(2);
      content: '';
      display: block;
      width: em(8);
      height: em(8);
      background-color: $MAIN4;
      border-radius: 100%;
    }
  }
}

.label {
  font-size: em(20);
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.11em;
  color: $MAIN1;
  text-transform: uppercase;
}
