@import "~@lms/styles/variables";

.label {
  position: relative;
  font-weight: bold;
  line-height: em(20);
  letter-spacing: em(1.5);
  color: $dark-01;
  cursor: pointer;

  &:before {
    position: absolute;
    content: '';
    display: block;
    width: em(15);
    border-bottom: em(1) solid $base-2;
    bottom: 0;
  }
}

.toggler {
  width: em(25);
  height: em(12);
  font-weight: bold;
  line-height: em(20);
  letter-spacing: em(1.5);
  color: $dark-01;
  border-radius: em(6);
  border: em(1) solid #333;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    width: em(8);
    height: em(8);
    background-color: $base;
    border-radius: em(4);
    position: relative;
  }

  &.on {
    &:before {
      margin: em(1);
    }
  }

  &.off {
    &:before {
      margin: em(1) em(1) em(1) auto;
    }
  }
}
