@import "~@lms/styles/variables";

.cell {
  padding: 0.375em;
}

.card {
  position: relative;
  height: 15.5em;
  border-radius: 0;
  border: 0.0625em solid $border;
  background: $light-color;
}

.cardBody {
  height: 100%;
}

.buttons {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.cardTitle {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  font-size: em(20);
  line-height: em(25, 20);
  letter-spacing: em(5, 20);
  color: $dark;
  text-transform: capitalize;
  text-overflow: ellipsis;
}

.cardDescription {
  overflow: hidden;
  font-size: em(12);
  line-height: em(15, 12);
  letter-spacing: em(1.5, 12);
  color: $dark;
}

.button {
  font-size: em(14);
  height: em(32, 14);
  padding: em(6, 14) em(9, 14) em(8, 14);
  line-height: em(17, 14);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.badge {
  position: absolute;
  top: em(6, 12);
  right: em(-1, 12);
  font-weight: 300;
  font-size: em(10, 12);
  line-height: em(12, 12);
  text-align: center;
  letter-spacing: em(1.5, 12);
  color: $light-color;
  text-transform: uppercase;
  background-color: $base-2;
  border-radius: 0;
}
