$width: 30rem;
$img_height: 22.6rem;
$mult: 1.3;

.container {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: $width !important;
  position: relative;

  //TODO
  &:nth-child(1),
  &:nth-child(4n),
  &:nth-child(5n) {
    width: $width * $mult !important;
    .cardImg {
      width: $width * $mult;
    }
  }

  &:nth-child(3n),
  &:nth-child(2n) {
    width: $width;
  }

  .text {
    height: 4.5rem;
    overflow: hidden;
  }

  .buttons {
    position: absolute;
    bottom: 1.25rem;

    :global(.btn) {
    }
  }
}

.cardImg {
  width: $width;
  height: $img_height;
  overflow: hidden;
}

img.cardImg {
  width: auto;
  min-width: $width;
  height: $img_height;
}

.addButton {
  margin: 0 auto;
  display: block;
}
