@import '~@lms/styles/variables';

.back {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: em(12);
  line-height: 130%;
  letter-spacing: 0.11em;
  color: $MAIN1;

  &:before {
    content: '';
    display: block;
    width: em(11, 12);
    height: em(16, 12);
    background: url('./images/back.svg') no-repeat;
    margin-right: map_get($spacers, s1);
  }

  &:after {
    position: absolute;
    content: '';
    display: block;
    height: em(1, 12);
    background: $MAIN3;
    left: em(15, 12);
    right: 0;
    bottom: 0;
  }
}

.publish {
  font-size: em(12);
}

.homework {
  flex: 0 0 auto;
}
