@import '~@lms/styles/variables';
@import '~@lms/styles/bootstrap';

.pageTitle {
  font-style: normal;
  letter-spacing: 0.08em;
  line-height: 130%;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: rem(4);
    bottom: 0;
    background: #1ec9e8;
    width: 0.66em;
    height: rem(3);
  }
}

@include media-breakpoint-down(sm) {
  .pageTitle {
    text-align: center;

    &:before {
      left: 50%;
      margin-left: rem(-50);
      width: rem(100);
      height: rem(1);
    }
  }

  h1.pageTitle {
    font-size: em(30);
  }

  h2.pageTitle {
    font-size: em(26);
  }
}
