@import "~@lms/styles/variables";

.avatar{
  border-radius: 100%;
  height: em(80);
  width: em(80);
  margin: auto;
}

.name{
  font-size: em(20);
  font-weight: bold;
  letter-spacing: 0.15em;
  line-height: em(25);
  color: $dark;
}
