@import "~@lms/styles/variables";

.item {
  position: relative;
  height: em(248);
  border-radius: 0;
  border: em(1) solid $border;
  background-color: $background-l1;
}

.status {
  height: em(16);
  margin-right: em(-21);
}

.badge {
  display: block;
  width: fit-content;
  font-size: em(10);
  font-weight: 300;
  line-height: em(12, 10);
  text-align: center;
  letter-spacing: em(1.5, 10);
  color: $background-l1;
  text-transform: uppercase;
  border-radius: 0;
}

.homework {
  background-color: $base-2;
}

.title {
  font-weight: bold;
  font-size: em(20);
  line-height: em(25, 20);
  letter-spacing: em(5, 20);
  color: $dark;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.description {
  max-height: em(90, 12);
  font-size: em(12);
  line-height: em(15, 12);
  letter-spacing: em(1.5, 12);
  color: $dark;
  overflow: hidden;
}

.actions {
  border: none;
  background-color: inherit;
}

.action {
  font-size: em(14);
  line-height: em(14, 14);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
