@import '~@lms/styles/variables';

.list {
  margin: 0 0 map-get($spacers, 1);
}

.item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: map-get($spacers, 1) 0;
  padding: map-get($spacers, 1) map-get($spacers, 3);
  flex-direction: row;
  border: none;
  border-bottom: em(1) solid $dark-03;
  height: em(28);
  color: $dark-02;
  cursor: pointer;

  &:global(.enabled) {
    color: $dark;
    .bullet {
      display: inline-block;
      width: em(8);
      height: em(8);
      border-radius: em(4);
      background-color: $pink;
      margin: em(10) 0;
    }
  }
}

