@import '~@lms/styles/variables';

.icon {
  display: inline-block;
  vertical-align: middle;
  width: em(20);
  height: em(20);
  margin-right: em(8);
  background: url('../../Lesson/AssignmentForm/images/icon.svg') no-repeat 50% 50%;
}

.label {
  display: inline-block;
  vertical-align: middle;
  font-size: em(10);
  line-height: em(12, 10);
  letter-spacing: em(1.5, 10);
  text-decoration-line: underline;
  color: $dark;
  cursor: pointer;
  user-select: none;
}


