@import '~@lms/styles/base';

.badges {
  position: absolute;
  top: em(6, 12);
  right: em(-1, 12);
  z-index: 1;
}
.badge {
  font-weight: 300;
  font-size: em(10, 12);
  line-height: em(12, 12);
  text-align: center;
  letter-spacing: em(1.5, 12);
  color: $light-color;
  text-transform: uppercase;
  border-radius: 0;
  display: block;

  &.homework {
    background-color: $base-2;
  }

  &.unsaved {
    background-color: gray;
  }
}

.card {
  height: em(248);
  border-radius: 0;
  border: em(1) solid $border;
  background: $light-color;
}

.cardBody {
  height: 100%;
}

.cardTitle {
  font-size: em(20);
  font-weight: bold;
  line-height: em(25, 20);
  letter-spacing: em(5, 20);
  color: $dark;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
  text-overflow: ellipsis;
}

.cardDescription {
  font-size: em(12);
  line-height: em(15, 12);
  letter-spacing: em(1.5, 12);
  color: $dark;
  overflow: hidden;
}

.toggleSet {
  margin: 2.5em 0;
  border: none;
}

.toggle {
  &:global(.nav-link) {
    font-size: em(20);
    font-weight: bold;
    width: em(420, 20);
    height: em(48, 20);
    padding: 0;
    text-align: center;
    line-height: em(48, 20);
    border: em(1, 20) solid rgba(35, 31, 32, .2);
    box-sizing: border-box;
    letter-spacing: 0.15em;
    color: $dark;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    border-radius: 0;
  }

  &:global(.nav-link.active) {
    background: rgb(240, 240, 240);
    border: 1px solid rgb(232, 233, 232);
    color: rgb(78, 76, 76);
  }
}

.description {
  font-size: em(18);
  line-height: em(22, 18);
  letter-spacing: em(1.5, 18);
  color: $dark;
}

.button {
  font-size: em(14);
  line-height: em(17, 14);
  height: em(32, 14);
  padding: em(6, 14) em(9, 14) em(8, 14);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.new {
  background: rgb(252, 252, 252);
  border: em(1) solid rgb(217, 217, 217);
  cursor: pointer;
}

.icon {
  font-size: em(35);
  width: em(35, 35);
  height: em(35, 35);
  color: $pink;
}
