@import '~@lms/styles/variables';

.students {
  .cell {
    border-bottom: em(1) solid $dark-03;
    border-right: em(1) solid $dark-03;
    line-height: em(16);
    letter-spacing: em(1.5);
    color: $dark-01;
    padding: map_get($spacers, 3) map_get($spacers, 4) map_get($spacers, 1);

    &:first-child {
      padding-left: 0;
    }

    &:first-child,
    &:last-child {
      border-right: none;
    }
  }

  .header {
    .cell {
      text-align: center;

      &:first-child {
        border-bottom: none;
      }
    }
  }
}
