@import '~@lms/styles/variables';
@import '~@lms/styles/bootstrap';

.button {
  height: em(37);
  padding: em(8) em(36);
  line-height: em(21);
  background: $MAIN4;
  border: em(1) solid $MAIN4;
  border-radius: em(2);
  box-shadow: 0 0 em(5) rgba(0, 0, 0, .5);
  text-align: center;
  letter-spacing: 0.11em;
  color: $MAIN2;
  transition: all ease-in-out .3s;
  outline: none !important;

  &:hover {
    background: $MAIN4_HOVER;
    border: em(1) solid $MAIN4_HOVER;
  }

  &.transparent {
    background: transparent;
    box-shadow: 0 0 em(5) rgba(0, 0, 0, .1);
    color: $MAIN4;

    &:hover {
      color: $MAIN4_HOVER;
    }
  }

  &.small {
    font-size: em(12);
    line-height: em(30, 12);
  }

  &.link {
    background: none;
    border: none;
    color: $MAIN4;
    box-shadow: none;
    padding: 0;

    &:hover {
      background: none;
      border: none;
      color: $MAIN4_HOVER;
    }
  }

  &[disabled] {
    background: $MAIN1_O20;
    border: em(1) solid $MAIN1_O20;
  }
}

@include media-breakpoint-down(sm) {
  .button {
    font-size: em(8);
  }
}
