// @todo refactor button styles in whole project rely on bootstrap variables system
@import "~@lms/styles/variables";

.button {
  background: #E85668;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border: 1px solid #E85668;
  border-radius: 2px;
  color: #F9F9F9;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: .09em;
  line-height: 1.25em;
  text-align: center;
  padding: #{(9/16)}rem .75em;
  &:focus {
    box-shadow: none;
  }

  //TODO
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):global(.active),
  &:hover {
    background: #BC4453;
    border: 1px solid #E85668;
    &:focus {
      box-shadow: none;
    }
  }

  //TODO
  &:global(.no_hover) {
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled):active:global(.no_hover),
  &:not(:disabled):not(.disabled):global(.active):global(.no_hover),
  &:hover:global(.no_hover) {
    background: #E85668;
    box-shadow: none;
    border: 1px solid #E85668;
    &:focus {
      box-shadow: none;
    }
  }

  &:global(.transparent) {
    background: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #E85668;

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):global(.active),
    &:hover {
      background: transparent;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      color: #E85668;
      &:focus {
        box-shadow: none;
      }
    }
  }

  &.link {
    background-color: transparent;
    border: none;
    font-weight: normal;
    color: $base;
    box-shadow: none;
    text-decoration: none;
    line-height: em(20);
    letter-spacing: em(1.5);

    &:hover,
    &:active {
      background-color: transparent !important; // @todo refactor Button component
      border: none !important;
      color: $base !important;
    }
  }
}
