.item {
  &:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  &:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  margin-bottom: #{(4/14)}em;
  border: none;
  height: #{(48/14)}em;
  padding: 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: #{(14/16)}em;
  letter-spacing: 0.15em;
  & > * {
    line-height: #{(16/14)}em;
  }
  :global(.nav-link) {
    width: 100%;
    height: 100%;
  }
}
