@import "~@lms/styles/variables";
:global(.form-control):focus,
:global(.form-control) {
  color: $dark;
}

.control {
  border: none;
  border-radius: 0;
  transition: none;
  border-bottom: 1px solid rgba(35, 31, 32, 0.2);
  outline: none;
  font-size: 1em;
  color: $dark;

  &:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(35, 31, 32, 0.2);
    box-shadow: none;
  }
}
