@import "@lms/styles/variables.scss";

.language {
  &:global(.show) {
    :global(.dropdown-toggle) {
      background: none;
      color: $dark-02;
      border-color: $dark-02;
    }
  }

  :global(.dropdown-toggle) {
    background: none;
    color: $dark-02;
    border: $dark-02 solid 1px;
    border-radius: 3px;
    outline: none;

    &:active {
      background: none;
      color: $dark-02;
      border-color: $dark-02;
    }
  }

  :global(.dropdown-menu) {
    border-color: $dark-02;
    :global(.dropdown-item):active {
      background-color: #16181b;
    }
  }
}
