@import '~animate.css';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';

@import 'bootstrap.scss';
@import 'App.scss';
@import 'fonts.scss';

html, body, main, #root {
  min-height: 100%;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@function size($pixels) { // @todo remove, legacy
  @return #{($pixels/16)}rem;
}
