/*
@font-face {
  font-family: 'BloggerSans';
  src: url("~@assets/fonts/Bloggersans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BloggerSans';
  src: url("~@assets/fonts/Bloggersansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BloggerSans';
  src: url("~@assets/fonts/Bloggersanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
*/

@font-face {
  font-family: 'CircleRounded';
  src: url("~@assets/fonts/CircleRounded-Regular.otf") format("opentype");
}
