$font-family-sans-serif: 'Nunito', 'CircleRounded', sans-serif;

$dark: #231F20;
$dark-01: rgba(35, 31, 32, 0.8);
$dark-02: rgba(35, 31, 32, .4);
$dark-03: rgba(35, 31, 32, 0.2);
$light-03: #E5E5E5;
$pink: #E85668; // main color should be independent in his name
$dark-pink: #BC4453;
$base: $pink;
$base1-l1: rgba(232, 86, 104, 0.2);
$base-2: #1EC9E8;
$base2-01: rgba(30, 201, 232, .7);
$font-color-base: #000;
$base2-012: darken($base-2, 70%);
$background-l1: #f9f9f9;

$border: #979797;
$light-color: #f9f9f9;
$button-background: #E85668;

$navbar-dark-brand-color: #f9f9f9;
$navbar-dark-color: rgba(#f2f2f2, .5);
$navbar-dark-hover-color: rgba(#f2f2f2, .75);
$navbar-dark-active-color: #f2f2f2;

$font-size-base: 1rem !default;
$h1-font-size: $font-size-base * 3.75;
$h2-font-size: $font-size-base * 2.5;

$success: #7ACC5E;

$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}


$spacer: 1rem !default;
$custom-spacer: 0.25rem !default;
$spacers: () !default;

$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    s1: ($custom-spacer),
    s2: ($custom-spacer * 2),
    s3: ($custom-spacer * 3),
    m1: ($custom-spacer * 4),
    m2: ($custom-spacer * 5),
    m3: ($custom-spacer * 6),
    l1: ($custom-spacer * 7),
    l2: ($custom-spacer * 8),
    l3: ($custom-spacer * 9),
    xs: rem(2),
    xl: rem(40),
    xxl: rem(60),
    xxxl: rem(80),
  ),
  $spacers
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1280px,
);

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$accent1: #e85668;
$ACCENT1: #e85668;
$ACCENT2: #1ec9e8;
$DARK: #231f20;
$BORDER: #979797;
$BORDER2: #c0c0c0;

// Colors Finale
$BACKGROUND: #fff;
$MAIN1: #231f20ff;
$MAIN1_O80: #231f20cc;
$MAIN1_O60: #231f2099;
$MAIN1_O40: #231f2066;
$MAIN1_O20: #231f2033;
$MAIN2: #f2f2f2ff;
$MAIN2_O80: #f2f2f2cc;
$MAIN2_O60: #f2f2f299;
$MAIN2_O40: #f2f2f266;
$MAIN2_O20: #f2f2f233;
$MAIN3: #1ec9e8ff;
$MAIN3_O80: #1ec9e8cc;
$MAIN3_O60: #1ec9e899;
$MAIN3_O40: #1ec9e866;
$MAIN3_O20: #1ec9e833;
$MAIN4: #e85668ff;
$MAIN4_HOVER: #bc4453;
$MAIN4_O80: #e85668cc;
$MAIN4_O60: #e8566899;
$MAIN4_O40: #e8566866;
$MAIN4_O20: #e8566833;
$MAIN5: #7acc5eff;
$MAIN5_O80: #7acc5ecc;
$MAIN5_O60: #7acc5e99;
$MAIN5_O40: #7acc5e66;
$MAIN5_O20: #7acc5e33;
