@import '~@lms/styles/variables';

.label {
  display: inline-flex;
  align-items: center;
  font-size: em(12);
  line-height: 130%;
  letter-spacing: 0.11em;
  color: $MAIN4_O40;

  .input {
    border: none;
    background: $MAIN4_O80;
    border-radius: em(1, 12);
    line-height: 130%;
    letter-spacing: 0.11em;
    color: $MAIN2;
    text-align: center;
    padding: map_get($spacers, s1) map_get($spacers, s3) !important;

    &::placeholder {
      color: $MAIN2;
    }
  }
}
