@import "~@lms/styles/variables";

.header {
  background: #fff;
  color: $MAIN1;

  :global(.mobileMenuContent) {
    background: #fff;

    :global(.nav-link) {
      color: $MAIN1;
    }

    :global(.close) {
      fill: $MAIN1;
    }
  }
}

.avatar {
  margin: 0;

  :global(.photo) {
    width: em(52) !important;
    height: em(52) !important;
    padding: 0;
    margin: 0;
  }
}
