@import '~@lms/styles/base';
@import '~@lms/styles/variables';

.title {
  font-weight: bold;
  font-size: em(22);
  line-height: em(27, 22);
  letter-spacing: em(5, 22);
  color: $dark;
  user-select: none;
}
