$width: 100%;
$img_height: 16.125em;

.card {
  width: $width !important;
  position: relative;
  .text {
    height: 4em;
    overflow: hidden;
  }

  .buttons {
    position: absolute;
    bottom: 1.25rem;
  }
}

.cardImg {
  width: $width;
  height: $img_height;
  overflow: hidden;
}

img.cardImg {
  width: auto;
  min-width: $width;
  object-fit: cover;
  height: $img_height;
}
