@import "~@lms/styles/variables";

.tableHeader {
  th {
    font-weight: normal;
    text-align: center;
    border: none !important;
  }
}

.item {
  .variant {
    vertical-align: middle;
    input {
      margin-bottom: map-get($spacers, 2);
    }
  }
  .checkbox {
    text-align: center;
    vertical-align: middle;
  }

  button {
    margin-bottom: map-get($spacers, 2);
  }
}

.content {
  padding: 0 map-get($spacers, 3);
  margin: 0 0 map-get($spacers, 5);

  .textEditorWrapper {
    min-height: auto;
  }
}
