@import "~@lms/styles/variables";

.avatar{
  background-image:
    url("./images/default.svg"),
    linear-gradient(90deg, $ACCENT1 0%, #898CA4 46.88%, $ACCENT2 100%);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 100%;
  width: em(52);
  height: em(52);
  border: em(1) solid $ACCENT1;
  display: inline-block;

  img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
}
