@import "~@lms/styles/variables.scss";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttonGroup {
  font-size: 0.7em;
  :global(.btn) {
    text-transform: uppercase;
  }
}
