.cardTitle {
    position: relative;
    font-size: 16px;
    padding-bottom: 2px;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100px;
        height: 0px;
        border: 1px solid rgba(35, 31, 32, 0.2);
    }
}

.cardNote {
  font-size: 8px;
  font-weight: bold;
}

.cardDescription {
  font-size: 8px;
}