@import '~@lms/styles/base';
@import '~@lms/styles/variables.scss';

.pageContent {
  height: 100%;
  padding: map_get($spacers, xxxl) map_get($spacers, xxl);
}

@include media-breakpoint-down(sm) {
  .pageContent {
    padding: em(30) em(10); // @todo implement system of responsive spacers
  }
}
