@import '~@lms/styles/variables.scss';

.badge {
  display: inline-block;
  text-transform: uppercase;
  color: $MAIN2;
  font-weight: 300;
  font-size: em(8);
  line-height: em(11, 8);
  letter-spacing: em(1, 8);

  &.primary {
    background: $MAIN3;
  }

  &.secondary {
    background: $MAIN1_O20;
  }
}

.text {
  position: relative;
  top: em(1, 8);
}
