@import "~@lms/styles/variables";

.homework {
  .cell {
    border-bottom: em(1) solid $dark-03;
    border-right: em(1) solid $dark-03;
    line-height: em(16);
    letter-spacing: em(1.5);
    color: $dark-01;
    padding: map_get($spacers, 3) map_get($spacers, 2) map_get($spacers, 1);

    &:last-child {
      border-right: none;
      padding-left: map_get($spacers, 4);
      text-align: center;
    }
  }

  .completed {
    .link {
      color: $dark-02;
    }
    .cell {
      color: $dark-02;
    }
  }
}

.link {
  color: $dark-01;
  &:hover,
  &:active {
    text-decoration: underline;
    color: $dark;
  }

}
