@import "~@lms/styles/variables";

.container {
  display: inline-block;

  &.focus {
    outline: 1px dotted rgba(0, 0, 0, .25);
  }

  &:hover {
    cursor: url("./images/pen.png"), auto;

    .edit {
      display: inline;
    }
  }

  .input {
    font-style: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    padding: inherit;
    border: 0;
    outline: none;
    min-width: 2em;
  }

  .emptyInput {
    display: inline-block;
  }

  .edit {
    cursor: pointer;
    display: none;
  }
}
