@import "~@lms/styles/variables";

.controlButtons {
  display: flex ;
  margin-right: 1rem;
  :global(span) {
    color: $dark;
    display: block;
    width: em(25);
    height: em(25);
    line-height: 25px;
    border: em(1) solid $light-03;
    cursor: pointer;
    text-align: center;
    border-radius: em(2);
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: .7em;
    }
  }
  :global(span) {
    margin-left: em(2);
  }
  :global(span):active {
    background: $background-l1;
  }
}
