.tabs {
  border: none;
  justify-content: flex-end;
}

.tab {
  cursor: pointer;
  user-select: none;

  &:global(.nav-link) {
    border-radius: 0;
    border: 0.0625em solid rgba(35, 31, 32, 0.2);
    text-transform: uppercase;
    font-size: #{(16/16)}em;
    line-height: #{(18/16)}em;
    text-align: center;
    letter-spacing: 0.15em;
    box-sizing: border-box;
    padding: #{(10/16)}em #{(30/16)}em;
  }

  &:global(.nav-link.active) {
    background: rgb(254, 254, 254);
    padding: #{(10/16)}em #{(31/16)}em;
    border: none;
    line-height: #{(20/16)}em;
    border-radius: 0;
    box-shadow: inset 0 #{(3/16)}em #{(4/16)}em rgba(0, 0, 0, .1);
    color: rgb(82, 79, 80);
  }
}

.content {
  padding: #{(18/16)}em;
  margin-top: #{(2/16)}em;
  background: rgba(242, 242, 242, 0.5);
}
