@import '~@lms/styles/variables';

.viewer {
  h1, h2, h3, h4, h5, h6, p {
    line-height: 130%;
    margin: rem(16) 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }

  h1 {
    font-size: em(40);
  }

  h2 {
    font-size: em(28);
  }

  h3 {
    font-size: em(20);
  }

  p {
    font-size: em(16);
  }
}
