@import '~@lms/styles/variables';

.attachment {
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
}

.add,
.card {
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
  position: relative;
  width: em(200);
  height: em(220);
  border: em(1) solid $MAIN1_O40;
  border-radius: em(10);
  cursor: pointer;
}

.add {
  background: url('./images/add.svg') 50% 50% no-repeat;
}

.uploader {
  height: em(122);
  flex: 0 0 auto;

  :global(.fileContainer) {
    box-shadow: none;
    margin: 0;
    padding: 0;

    :global(.chooseFileButton) {
      width: 100%;
      background: url('./images/upload.svg') 50% rem(32) no-repeat;
      color: $MAIN4_O60;
      margin: 0;
      padding-top: rem(104);
      padding-bottom: 0;
      line-height: 130%;
    }
  }


  :global(.hasFile) {
    :global(.fileContainer) {
      :global(.chooseFileButton) {
        background: url('./images/file.svg') 50% rem(32) no-repeat;
      }
    }
  }
}

.title {
  flex: 1 1 100%;
  position: relative;
  font-weight: normal;
  font-size: em(16);
  line-height: 130%;
  letter-spacing: 0.11em;
  color: $MAIN1;
  margin: 0 em(-1);

  textarea {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: map_get($spacers, s2) map_get($spacers, m1);
    border: em(1) solid transparent;
    border-left-color: $MAIN1_O40;
    border-right-color: $MAIN1_O40;
    resize: none;
    outline: none;
    transition: height ease-in-out .3s;
    z-index: 2;

    &:focus {
      background: #fff;
      border-color: $MAIN1_O40;
      z-index: 2;
    }
  }
}

.left,
.right,
.remove {
  width: em(20);
  height: em(20);
  border-radius: 100%;
  cursor: pointer;
  z-index: 1;
  background: $MAIN4_O80;
  margin: 0 em(2);
}

.remove {
  background: url('./images/remove.svg');
}

.right {
  background: url('./images/right.svg');
}

.left {
  background: url('./images/left.svg');
}

.controls {
  margin: em(12) 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
