@import '~@lms/styles/bootstrap';
@import '~@lms/styles/variables';

.layer {
  border: em(1) solid transparent;
  box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.1);
  background: $MAIN1;
  color: $MAIN2;
}

.header {
  display: flex;
  align-items: center;
  padding: map_get($spacers, s2) map_get($spacers, xxl);

  :global(.nav-link) {
    font-weight: bold;
    line-height: em(20);
    letter-spacing: 0.11em;
    color: inherit;
  }
}

.logo {
  height: em(52, 30);
  position: relative;
  font-size: em(30);
  line-height: em(52, 30);
  letter-spacing: 0.11em;
  font-weight: bold;
  color: $base2-01;
  background: url('./images/logo.svg') 0 50% no-repeat;
  overflow: visible;
  padding: 0 map_get($spacers, m2) 0 map_get($spacers, s2);

  &:hover {
    color: $base2-01;
  }

  &:before {
    position: absolute;
    content: '';
    display: block;
    width: em(52, 30);
    height: em(52, 30);
  }
}

.menu {
  margin: 0 auto 0 0;
}

.mobileMenu {
  display: none;
}

@include media-breakpoint-down(sm) {
  .avatar {
    display: none;
  }

  .menu {
    display: none;
  }

  .mobileMenu {
    display: block;

    .mobileMenuButton {
      width: em(32);
      height: em(21);
      background: url('./images/menu.svg') 0 0 no-repeat;
      cursor: pointer;
    }

    :global(.mobileMenuContent) {
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      background-color: $MAIN1;
      z-index: 1;

      &.hidden {
        display: none;
      }

      :global(.nav) {
        height: 100%;
        flex-direction: column;
        justify-content: center;
      }

      :global(.nav-link) {
        font-weight: bold;
        font-size: em(24);
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.11em;
        text-transform: uppercase;
        color: $MAIN2;
        margin: map_get($spacers, l3);
        cursor: pointer;
      }
    }

    :global(.close) {
      position: absolute;
      top: em(20);
      right: em(20);
      fill: $MAIN2;
      cursor: pointer;
    }
  }

  .header {
    padding: map_get($spacers, m1) map_get($spacers, s3);
  }

  .logo {
    height: em(34, 18);
    font-size: em(18);
    line-height: em(34, 18);
    background-size: auto 100%;

    &:before {
      width: em(34, 18);
      height: em(34, 18);
    }
  }
}
