@import '~@lms/styles/base';

.button {
  font-size: em(14);
  line-height: em(17, 14);
  height: em(32, 14);
  padding: em(6, 14) em(9, 14) em(8, 14);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
