@import "~@lms/styles/variables";

.separator {
  border-color: rgb(82, 79, 80);
  margin: #{(60/16)}rem auto #{(100/16)}rem;

  &:global(.collapsed):before {
    content: "\f078";
  }
  &:before {
    font-family: "Font Awesome 5 Free";
    cursor: pointer;
    content: "\f077";
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: em(40);
    display: block;
    width: #{(40/16)}em;
    height: #{(40/16)}em;
    border-radius: #{(40/16)}em;
    background-color: $pink;
    margin-top: #{(-20/16)}em;
    margin-left: auto;
    margin-right: auto;
  }
}

