@import '~@lms/styles/variables';

.blurry {
  opacity: .2;
}

.item {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
}

.submitted {
  &:after {
    content: '';
    display: block;
    width: em(8);
    height: em(8);
    border-radius: em(4);
    margin-left: auto;
    background-color: $pink;
  }
}

.overdue {
  position: relative;

  &:before {
    content: '';
    position: relative;
    top: em(-3);
    display: inline-block;
    width: em(3);
    height: em(12);
    background: $base;
    border-radius: em(3);
  }

  &:after {
    content: '';
    position: relative;
    right: calc(100% - #{em(3)});
    bottom: em(-6);
    display: inline-block;
    width: em(3);
    height: em(3);
    background-color: $base;
    border-radius: em(6);
  }
}

.link {
  color: $dark-01;
  &:hover,
  &:active {
    text-decoration: underline;
    color: $dark;
  }
}

//TODO use props
.toggle {
  &:global(.submitted) {
    svg {
      path {
        fill: $pink;
      }
    }
  }
}
