@import "~@lms/styles/variables";

.feedback {
  padding-left: map-get($spacers, 3);
  padding-right: map-get($spacers, 3);
  display: block;
}

.message {
  &.teacher {
    text-align: left;
  }

  &.student {
    text-align: right;
  }

  .text {
    margin-bottom: #{(65/16)}rem;
    font-size: #{(18/16)}rem;
    line-height: #{(22/16)}rem;
    letter-spacing: #{(1.5/16)}rem;
    color: #231F20;
  }
}

.title {
  margin-bottom: #{(24/16)}rem;
  font-size: #{(28/16)}rem;
  line-height: #{(35/16)}rem;
  letter-spacing: #{(5/16)}rem;
  color: #231F20;
}

.separator {
  height: #{(1/16)}rem;
  border-color: rgba(0, 0, 0, .4);
  margin-left: 0;
  margin-bottom: #{(28/16)}rem;
  &:global(.separatorAtRight) {
    margin-left: auto;
    margin-right: 0;
  }
}

.feedbackForm {
  display: block;
  &::placeholder {
    color: #E5E5E5;
  }
  padding: #{(12/16)}rem #{(8/16)}rem;
  min-height: #{(200/16)}rem;
  border: 1px solid rgb(126, 124, 124);
  border-radius: #{(2/16)}rem;
  margin-bottom: #{(20/16)}rem;
}
.editor {
  cursor: text;
}
:global(.buttomAtRight) {
  display: flex;
  justify-content: flex-end;
}
