@import '~@lms/styles/variables';

.title {
  font-weight: bold;
  font-size: em(20);
  line-height: 130%;
  letter-spacing: 0.11em;
  color: $MAIN1;
}

.placeholder {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  line-height: 150%;
  letter-spacing: 0.11em;
  color: $MAIN1_O40;
  padding-bottom: map_get($spacers, m3);
  border: rem(1) solid $MAIN1_O40;
  border-radius: rem(3);

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 13%;
    width: 30%;
    height: 50%;
    background: url('../images/placeholder.svg') no-repeat 50% 50%;
    background-size: contain;
  }
}
