@import '~@lms/styles/base.scss';
@import '~@lms/styles/variables.scss';

.input {
  display: inline-block;
  border: em(1) solid $accent1;
  box-shadow: 0 0 em(5) rgba(0, 0, 0, .1);
  border-radius: em(2);
}

.file {
  display: none;
}
