@import "~@lms/styles/variables";

.rightCol {
  top: 1em;
  position: sticky;
}

span.title {
  font-size: #{20/16}em;
  font-weight: bold;
  &:not(:first-child) {
    margin-left: map-get($spacers, 2);
  }
}

.bio {
  margin-left: map-get($spacers, 4);
}

.avatar {
  display: flex;
  margin-bottom: map-get($spacers, 4);
  align-items: center;
}

@media (min-width: 992px) {
  .dashboard {
    background-repeat: no-repeat;
    background-position: right 4vw bottom 2vh;
    background-attachment: local;
    height: 100%;
  }
}
