@import '~@lms/styles/variables';
@import '~@lms/styles/bootstrap';

.layer {
  position: relative;
  height: em(180);
  border-top: em(1) solid $MAIN1_O80;

  :global(.navbar) {
    align-items: flex-end;
  }

  :global(.nav-link) {
    font-weight: bold;
    line-height: em(20);
    letter-spacing: 0.11em;
    color: $MAIN1;
    text-align: center;
  }
}

.footer {
  padding: map_get($spacers, xxl);
  margin-right: map_get($spacers, xl);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  .info {
    :global(.nav) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .socials {
    :global(.nav) {
      justify-content: flex-start;
    }
  }
}

.social {
  margin: 0 map_get($spacers, s3);
  padding: 0;
  width: em(18);
  height: em(18);

  &:first-child {
    margin-left: 0;
  }
}

.instagram {
  background: url('./images/instagram.svg') 50% 50% no-repeat;
}

.telegram {
  background: url('./images/telegram.svg') 50% 50% no-repeat;
}

.whatsapp {
  background: url('./images/whatsapp.svg') 50% 50% no-repeat;
}

.email {
  background: url('./images/email.svg') 50% 50% no-repeat;
  background-size: contain;
}

@include media-breakpoint-down(sm) {
  .footer {
    padding: map_get($spacers, l2) map_get($spacers, s3);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    .socials {
      grid-column-start: 2;
      grid-row-start: 1;
      grid-row-end: 4;

      .social {
        margin: 0;
      }

      :global(.nav) {
        justify-content: flex-end;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
      }
    }

    .info {
      grid-column-start: 1;
      grid-row-start: 1;
      grid-row-end: 5;

      :global(.nav) {
        justify-content: flex-start;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
      }

      :global(.nav-link) {
        padding: 0;
        text-align: left;
      }
    }

    .language {
      grid-column-start: 2;
      grid-row-start: 4;
    }
  }
}

