.container {
  //TODO: @include clearfix;
  &::after {
    display: block;
    content: "";
    clear: both;
  }

  :global(.fileContainer) {
    height: 400px;
  }
  :global(.btn) {
    float: right;
  }
}
