@import '~@lms/styles/variables.scss';

.item {
  line-height: #{(20/16)}em;
  font-size: #{(16/16)}em;
  font-weight: 300;
  color: $dark-01;
  cursor: pointer;
  border: none;
  font-style: normal;
  white-space: nowrap;

  &.small {
    margin: #{(8/16)}em #{(12/16)}em 0;
    padding: 0 0 #{(8/16)}em;
    letter-spacing: #{(1.5/16)}em;
    border-bottom: #{(1/16)}em solid $dark-03;

    &:last-child {
      border-bottom: none;
    }
  }

  td {
    padding: #{(12/16)}em #{(4/16)}em #{(8/16)}em;
    letter-spacing: #{(1.5/16)}em;
    border-bottom: #{(1/16)}em solid $dark-03;
    transition: all ease-in-out 75ms;
  }

  &.blurry {
    td {
      opacity: .2;
      border-bottom-color: $light-03;
    }
  }

  &.selected {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    &:after {
      content: '';
      width: #{(8/16)}em;
      height: #{(8/16)}em;
      background: $pink;
      border-radius: 100%;
      display: flex;
      justify-content: space-between;
      margin: 0 #{(8/16)}em;
    }
  }

  .menuItem {
    height: #{(20/16)}em;
    padding: 0 #{(8/16)}em;

    &>* {
      width: 100%;
    }
  }
}

.toggle {
  svg {
    margin: 0 map-get($spacers, 1);
    path {
      fill: $pink;
      stroke-width: 4px;
    }
  }
}
