@import "~@lms/styles/variables";

.widgets {
  position: sticky;
  top: 10px;
}

.widgets__title {
  font-weight: bold;
  font-size: 14px;
  padding-left: 50px;
  margin-bottom: map-get($spacers, 4);
  position: relative;
  &:before {
    content: '';
    left: 0;
    top: 10px;
    position: absolute;
    width: 18px;
    border: 3px solid #1ec9e8;
    border-radius: 5px;
  }
  &:after {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: 36px;
    border: 3px solid #1ec9e8;
    border-radius: 5px;
  }
}

.alert {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin: 0;
}

.widget {
  position: relative;
  .controlButtons {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.item {
  width: 17.143em;
  height: 3.429em;
  font-size: 0.875em;
  font-weight: bold;
  margin: 2px 0;
  display: flex;
  justify-content: center;
  align-items: self-start;
  padding-left: 1.250em;
  cursor: pointer;
  color: #231F20;
  text-transform: uppercase;
  border: 1px solid rgba(35, 31, 32, 0.2);
  border-radius: 0;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  user-select: none;
  opacity: .5;
}
