@import "@lms/styles/variables.scss";

// from bootstrap
@mixin form-control-focus() {
  &:global(.focused) {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;
    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      box-shadow: $input-box-shadow, $input-focus-box-shadow;
    } @else {
      box-shadow: $input-focus-box-shadow;
    }
  }
}

.input {
  flex-wrap: wrap;
  height: auto;
  padding-top: 0;
  padding-bottom: 0;

  display: flex;
  position: relative;
  @include form-control-focus();

  span[data-placeholder] {
    display: none;
    position: absolute;
    left: $input-padding-x;
    top: $input-padding-y;
    line-height: $input-line-height;

    color: $input-placeholder-color;
    opacity: 1;
    & ~ [data-tag] {
      margin-left: 0;
    }
  }
  input {
    width: 100%;
    margin: $input-padding-y 0;
    border: solid 1px transparent;
    outline: none;
    padding: 0;
  }
  &:global(.empty) > span[data-placeholder] {
    display: inline;
  }
  &:global(.focused) > span[data-placeholder] {
    display: none;
  }
  [data-tag] {
    padding: 0 map-get($spacers, 2);
    border-radius: $input-border-radius;
    margin: $input-padding-y map-get($spacers, 2);
    color: $pink;
    border: solid 1px $pink;
    background: white;
    -webkit-transition: background 0.1s ease;
    -o-transition: background 0.1s ease;
    transition: background 0.1s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &:first-child {
      margin-left: 0;
    }

    [data-tag-handle] {
      margin-left: map-get($spacers, 2);
      cursor: pointer;
      line-height: normal;
    }
  }
}
