@import '~@lms/styles/variables';

.legend {
  line-height: em(20);
  letter-spacing: em(5);
  color: $font-color-base;
  padding: em(14) 0;
}

.mark {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.submitted {
  &:before {
    content: '';
    display: inline-block;
    width: em(12);
    height: em(12);
    background-color: $base;
    border-radius: em(6);
    margin-right: map-get($spacers, 2);
  }
}

.checked {
  &:before {
    content: '';
    display: inline-block;
    width: em(12);
    height: em(12);
    background-color: $success;
    border-radius: em(6);
    margin-right: map-get($spacers, 2);
  }
}

.overdue {
  position: relative;

  &:before {
    content: '';
    position: relative;
    top: em(-3);
    display: inline-block;
    width: em(3);
    height: em(12);
    background: $base;
    border-radius: em(3);
    margin-right: map-get($spacers, 2);
  }

  &:after {
    content: '';
    position: relative;
    right: calc(100% - #{map-get($spacers, 2)} - #{em(3)});
    bottom: em(-6);
    display: inline-block;
    width: em(3);
    height: em(3);
    background-color: $base;
    border-radius: em(6);
    margin-right: map-get($spacers, 2);
  }
}
