.classroom {
  display: flex;
  flex-direction: row;
  > div:last-child {
    flex: 1;
  }
}
.webcam {
  > img {
    position: sticky;
    top: 2.5em;
  }
  border-right: 1px solid rgba(35, 31, 32, 0.2);
  padding-right: 2.5em;
  padding-top: 2.5em;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.attachments {
  .list {
    margin-left: -1em;
    img {
      margin: 1em;
      cursor: pointer;
    }
  }
}
