@import '~@lms/styles/base';

.status {
  padding: size(11) size(20);
  font-weight: bold;
  font-size: size(20);
  line-height: size(25);
  text-align: right;
  letter-spacing: size(5);
  opacity: 0.7;

  &.deadline {
    color: #E85668;
  }

  &.completed {
    color: #7ACC5E;
  }
}

.description {
  font-weight: 300;
  font-size: size(18);
  line-height: size(22);
  letter-spacing: size(1.5);
  color: #231F20;
}

.submit {
  margin-top: size(60);
}

.check {
  max-width: size(492);
  padding: size(30) size(42);
  margin: size(60) auto 0;
  border: size(1) solid #7ACC5E;
  color: #7ACC5E;
  border-radius: size(10);
  display: flex;
  flex-direction: row;
  align-items: center;

  &:before {
    content: '';
    display: block;
    width: size(62);
    height: size(62);
    background: url('./check.svg') no-repeat 50% 50%;
    border: size(1) solid #7ACC5E;
    border-radius: size(31);
    margin-right: size(49);
    flex: 0 0 auto;
  }

  .text {
    width: size(297);
    font-size: size(20);
    line-height: size(25);
    letter-spacing: size(1.5);
    flex: 1 1 100%;
  }
}

.homeworkMark {
  display: inline-block;
  background-color: $MAIN3;
  color: $MAIN2;
  text-transform: uppercase;
  vertical-align: top;

  font-size: em(20);
  line-height: 130%;
  letter-spacing: 0.11em;
  padding: em(2, 20) em(12, 20);
  margin-bottom: em(40, 20);
}

.lessonTitle {
  margin-bottom: map_get($spacers, xl) !important; // @todo implement system of responsive spacers
}

@include media-breakpoint-down(sm) {
  .homeworkMark {
    font-size: em(8);
    line-height: em(11, 8);
    letter-spacing: em(1, 8);
    padding: em(2, 8) em(12, 8);
    margin-bottom: em(20, 8);
    font-weight: 300;
  }

  .lessonTitle {
    margin-bottom: map_get($spacers, m2) !important; // @todo implement system of responsive spacers
  }
}
