@import "~@lms/styles/variables";

.header {
  display: flex;
  justify-content: space-between;

  > div {
    align-items: center;
    button:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    button:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.studentName {
  font-style: normal;
  font-weight: bold;
  font-size: #{(40/16)}rem;
  line-height: #{(50/16)}rem;
  text-align: right;
  letter-spacing: #{(5/16)}rem;
  color: #231F20;
  opacity: 0.2;
  margin-bottom: #{(20/16)}rem;
}

.button {
  font-style: normal;
  font-weight: bold;
  font-size: #{(16/16)}em;
  line-height: #{(20/16)}em;
  text-align: center;
  letter-spacing: #{(1.5/16)}em;
  color: #F9F9F9;

  &[disabled] { // @todo handle rely on bootstrap variables system
    background: #d3d2d2;
    border-color: #d3d2d2;
    color: #f9f9f9;
    cursor: not-allowed;
  }
}

.completed {
  background-color: $success;
  border-color: $success;

  &:hover {
    color: #F9F9F9;
    background-color: darken($success, 15%);
    border-color: darken($success, 15%);
  }
}

.label {
  font-style: normal;
  font-weight: bold;
  font-size: #{(20/16)}rem;
  line-height: #{(25/16)}rem;
  text-align: right;
  letter-spacing: #{(5/16)}rem;
  color: #231F20;
  opacity: 0.2;
  margin-bottom: #{(8/16)}rem;
}
