@import '@lms/styles/variables.scss';

.link {
  display: flex;
  align-items: center;
  color: $dark;
  border: 1px solid rgba(35, 31, 32, .2);
  &_active {
    background: rgba(196, 196, 196, .2);
    border: 1px solid rgb(232, 233, 232);
    .link__content {
      opacity: .7;
    }
  }
}
