@import '~@lms/styles/variables.scss';

.card {
  height: em(267);
  display: flex;
  flex-direction: column;
  background-color: $BACKGROUND;
  background-position-y: bottom;
  background-repeat: repeat-x;
  box-shadow: 0 em(3) em(6) rgba(0, 0, 0, .2);
  border-radius: em(5);
  overflow: hidden;
}

.title {
  flex: 0 0 auto;
  font-weight: bold;
  font-size: em(28);
  line-height: em(35, 28);
  letter-spacing: em(1, 28);
  color: $DARK;
  & > a {
    color: inherit;
    text-decoration: none;
  }
}

.description {
  flex: 1 1 100%;
  line-height: em(20);
  letter-spacing: em(1);
  color: $DARK;
  overflow: hidden;
  -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, rgba(0, 0, 0, 1)),
      color-stop(70%, rgba(0, 0, 0, 1)),
      color-stop(100%, rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
}

.actions {
  display: flex;
  flex: 1 1 em(40);
  align-items: flex-end;
}
