@import "~@lms/styles/variables.scss";

.container {
  h3 {
    font-size: $font-size-base;
    text-transform: uppercase;
  }

  > div {
    margin: map-get($spacers, 5) 0;

    :global(.timestamp) {
      margin: map-get($spacers, 1) 0;

      span:first-child {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 1.7em;
          background: rgba(35, 31, 32, 0.2);
          height: 1px;
          width: 100%;
        }
      }

      :global(span.delim) {
        margin: 0 map-get($spacers, 2);
      }
    }
  }
}
