@import "~@lms/styles/variables";

.header {
  display: flex;
  justify-content: space-between;

  > div {
    align-items: center;
    button:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    button:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.studentName {
  font-weight: bold;
  font-size: #{(40/16)}rem;
  line-height: #{(50/16)}rem;
  text-align: right;
  letter-spacing: #{(5/16)}rem;
  color: #231F20;
  opacity: 0.2;
  margin-bottom: #{(20/16)}rem;
}
