@import '~@lms/styles/variables.scss';

.item {
  font-size: #{(16/16)}em;
  font-weight: 300;
  line-height: #{(20/16)}em;
  letter-spacing: #{(1.5/16)}em;
  color: $dark-01;
  cursor: pointer;
  border-bottom: 1px solid $dark-03;
  padding: #{(12/16)}em 0 #{(8/16)}em;
  &__cell {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 8px;
    &-number,
    &-comments,
    &-menu {
      width: 5%;
    }
    &-menu {
      overflow: visible;
    }
    &-name,
    &-surname,
    &-assigning {
      width: 20%;
    }
    &-email {
      width: 25%;
    }
  }
  &_marked {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    &:after {
      content: '';
      width: 8px;
      height: 8px;
      background: $pink;
      border-radius: 100%;
      display: flex;
      justify-content: space-between;
      margin: 0 8px;
    }
  }
  &__menu {
    &-item {
      height: 20px !important;
      padding: 0 8px !important;
      & > * {
        width: 100%;
      }
    }
  }
  svg {
    margin: -1px 12px 0;
  }
}
