@import "~@lms/styles/variables";

.avatar {
  user-select: none;
}

.currentRole {
  font-weight: bold;
  line-height: em(20);
  letter-spacing: 0.11em;
  color: inherit;
  cursor: pointer;
}

.switcher {
  margin-bottom: map_get($spacers, 3);

  .role {
    margin: 0 0 0 map_get($spacers, m2);
    color: $dark-02;
    &:global(.active) {
      color: $dark-01;
      span.pointer {
        display: block;
      }
    }

    span.pointer {
      display: none;
      width: em(12);
      height: em(12);
      font-weight: bold;
      line-height: em(20);
      letter-spacing: em(1.5);
      color: $dark-01;
      border-radius: em(6);
      border: em(1) solid #333;
      cursor: pointer;
      position: absolute;
      left: em(10);
      margin-top: em(6);

      &:before {
        content: '';
        display: block;
        margin: em(1) em(1);
        width: em(8);
        height: em(8);
        background-color: $base;
        border-radius: em(4);
        position: relative;
      }
    }

    span.title {
      position: relative;
      font-weight: bold;
      line-height: em(20);
      letter-spacing: em(1.5);
      cursor: pointer;
      &:hover {
        color: $dark-01;
      }

      &:before {
        position: absolute;
        content: '';
        margin-left: - em(3);
        display: block;
        width: em(15);
        border-bottom: em(1) solid $base-2;
        bottom: 0;
      }
    }
  }
}

.name {
  line-height: em(20);
  letter-spacing: em(1.5);
  color: $dark;
}

.email {
  font-weight: 300;
  font-size: em(10);
  line-height: em(12);
  letter-spacing: em(1.5);
  color: rgba(35, 31, 32, .5);
}

.changeLink {
  font-size: em(8);
  line-height: em(10, 8);
  letter-spacing: em(1.5, 8);
  color: $dark-01;
}

.separator {
  border-top: em(1) solid $dark-03;
}

.org,
.settings,
.profile {
  line-height: em(20);
  letter-spacing: em(1.5);
  background: #fff !important;
  color: $dark !important;
  cursor: pointer;

  &:hover {
    background-color: #fff !important;
    color: $dark !important;
  }
}

.org {
  width: 10rem;
  text-overflow: ellipsis;
  overflow: hidden;
  span {
    white-space: nowrap;
  }
}

.settings {
  i {
    display: inline-block;
    width: em(15);
    height: em(15);
    background: url("./images/settings.svg") no-repeat 50% 50%;
    margin-right: map_get($spacers, s2);
    opacity: .9;
  }
}

.profile {
  i {
    display: inline-block;
    width: em(15);
    height: em(15);
    background: url("./images/profile.svg") no-repeat 50% 50%;
    margin-right: map_get($spacers, s2);
  }
}

.role,
.name,
.email,
.toggle,
.changeLink,
.settings,
.profile,
.logOut {
  user-select: none;
}

.changeLink,
.settings {
  cursor: not-allowed;
}

.logout {
  font-size: em(12);
  line-height: em(15, 12);
  letter-spacing: em(1.5, 12);
  color: #000;
  cursor: pointer;
  user-select: none;

  i {
    display: inline-block;
    width: em(11, 12);
    height: em(11, 12);
    background: url("./images/logout.svg") no-repeat 50% 50%;
    margin-right: map_get($spacers, s3);
  }
}

.photo {
  border-radius: em(26);
  border: em(1) solid $base;
  background-color: rgb(179, 179, 179);
}
