@import "~@lms/styles/variables.scss";

.wrapper {
  min-height: 20em;
  cursor: text;
  border-radius: em(2);
  box-shadow: 0 0 em(2) rgba(0, 0, 0, 0.5);

  .toolbar {
    border: none;
    border-bottom: em(1) solid rgba(0, 0, 0, 0.05);
    user-select: none;

    :global(.rdw-option-wrapper) {
      box-shadow: none;
      border: none;
      border-radius: em(4);
      height: em(28);

      &:hover {
        background: #f2f2f2;
      }

      &:global(.rdw-option-active) {
        background: $dark-03;
      }
    }
    :global(.rdw-dropdown-wrapper) {
      box-shadow: none;
    }
    :global(.rdw-dropdown-optionwrapper) {
      overflow-y: auto;
      box-shadow: em(2) em(2) em(3) #BFBDBD;
    }
    :global(.rdw-fontsize-dropdown) {
      width: em(40);
      :global(.rdw-dropdown-optionwrapper) {
        min-width: em(60);
      }
    }
    :global(.rdw-colorpicker-wrapper) {
      &[aria-expanded=true] {
        :global(.rdw-option-wrapper):first-child {
          background: $dark-03;
        }
      }
      :global(.rdw-option-wrapper) {
        img {
          width: em(16);
        }
      }
    }
    :global(.rdw-colorpicker-modal) {
      width: auto;
      height: auto;
      :global(.rdw-colorpicker-modal-options) {
        overflow: auto;
      }
    }
  }

  .editor {
    margin: 0 em(20);

    :global(.rdw-left-aligned-block) > div,
    :global(.rdw-justify-aligned-block) > div,
    :global(.rdw-right-aligned-block) > div,
    :global(.rdw-center-aligned-block) > div {
      display: flex;
    }

    :global(.rdw-left-aligned-block) > div,
    :global(.rdw-justify-aligned-block) > div {
      justify-content: flex-start;
    }

    :global(.rdw-left-aligned-block) > div {
      text-align: left;
    }

    :global(.rdw-justify-aligned-block) > div {
      text-align: justify;
    }

    :global(.rdw-right-aligned-block) > div {
      justify-content: flex-end;
      text-align: right;
    }

    :global(.rdw-center-aligned-block) > div {
      justify-content: center;
      text-align: center;
    }

    :global(.public-DraftStyleDefault-block) {
      margin: rem(16) 0;
      font-size: em(16);
    }

    :global(.public-DraftStyleDefault-orderedListItem),
    :global(.public-DraftStyleDefault-unorderedListItem),
    :global(.public-DraftStyleDefault-block),
    h1, h2, h3, h4, h5, h6, p {
      line-height: 130%;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
    }

    h1 {
      font-size: em(40);
    }

    h2 {
      font-size: em(28);
    }

    h3 {
      font-size: em(20);
    }

    :global(.public-DraftStyleDefault-orderedListItem .public-DraftStyleDefault-block),
    :global(.public-DraftStyleDefault-unorderedListItem .public-DraftStyleDefault-block) {
      margin: 0;
    }
  }
}
