@import '~@lms/styles/variables';

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url('./images/background.svg') no-repeat bottom $base1-l1;
  background-size: cover;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: em(420);
  background: $background-l1;
  box-shadow: 0 0 em(10) rgba(0, 0, 0, .2);
  border-radius: em(10);
  padding: map_get($spacers, xxl);
}

.title {
  font-weight: bold;
  font-size: em(40);
  line-height: em(50, 40);
  text-align: center;
  letter-spacing: 0.11em;
  color: $dark;
}

.input {
  border-radius: em(2);
  background-color: transparent;

  &::placeholder {
    font-weight: 300;
    line-height: em(20);
    text-align: center;
    letter-spacing: em(1.5);
    color: $dark-02;
  }
}

.hidden {
  position: absolute;
  visibility: hidden;
}
